@font-face {
  font-family: 'Noto Sans CJK jp';
  font-style: normal;
  src: url('../fonts/NotoSansCJKjp-Medium.otf') format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK jp DemiLight';
  font-style: normal;
  src: url('../fonts/NotoSansCJKjp-DemiLight.otf') format("woff");
  font-display: swap;
}
