@font-face {
  font-family: 'Noto Sans JP Medium';
  font-style: normal;
  src: url('../fonts/NotoSansJP-Medium.otf') format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP Light';
  font-style: normal;
  src: url('../fonts/NotoSansJP-Light.otf') format("woff");
  font-display: swap;
}
