@media only screen and (min-width: 768px) {
  .carousel .control-next.control-arrow:before {
    border-left: 20px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  
  .carousel .control-prev.control-arrow:before {
    border-right: 20px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}
